#contact-form {
    margin-top: 5vw;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#contact-form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#contact-form h1 {
    margin-left: 5px;
}

#contact-form div div {
    color: red;
}